.profile {
  clear: both;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: .8em;
  margin: 1em 0em;
  background-color: #f4f4f4;
}

/*
.profile dt {
  clear: left;
  float: left;
  width: 110px;
  margin-bottom: 5px;
  display: inline-block;
}

.profile dd {
  _float: left;
  display: inline-block;
  margin-bottom: 5px;
  clear: right; 
}

*/
